@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "STEPLayout";
    ViewData["Title"] = "Support to Training and Employment Programme for Women (STEP)";
}

<div class="container ">
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">FREQUENTLY ASKED QUESTIONS  </h2>
            @* <span>@TempData["userid"]  @ViewBag.Session</span>*@
             <img src="~/images/faqimg.jpeg" alt="Paris" class="center">
        </div>
        <br>
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        Q: How do I get started?
                    </h4>
    
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>To get started and become our community member, please register. Once you have registered, you will receive message
                        for your approval status.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                       Q: What is fullform of STEP ??
                    </h4>
    
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    <p>
        Support to Training and Employment Programme for Women (STEP)
    </p>
                    </div>
                </div>
            </div>



            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        Q: What is STEP ???
                    </h4>
    
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>STEP Scheme aims to provide skills that give employability to women and <br>to provide competencies and skill that enable women to become self-employed/entrepreneurs. <br>The Scheme is intended to benefit women who are in the age group of 16 years and above across the country.</p>                   </div>
                </div>
            </div>




            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        Q: What are the objectives of STEP ??>
                    </h4>
    
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p><ul><li>To provide skills that give employability to women.</li>
                           <li> To provide competencies and skills that enable women to become self-employed/entrepreneurs..</li></ul></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                       Q:What are Eligibility Criterias for STEP ??
                        
                    </h4>
    
                </div>
                <div id="question4" class="panel-collapse collapse " style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>
                            <h5>Scheme Target Group</h5> 
                     
                     The scheme is intended to benefit women who are in the age group of 16 years and above.
                     
                     <b><h4>ELIGIBLE ORGANIZATIONS/ PROJECT IMPLEMENTING AGENCIES (PIAs)</h4></b>
                     <ul>
                     <u>Grants-in-aid under the STEP programme may be given to an institution having a distinct legal entity as under:
                     </u>
                     <li>Institutions or organizations set up as Autonomous Organization under a specific statute or as a Society registered under the Societies Registration Act, 1860 or Indian Trusts Act, 1882 (Not for profit) or other statutes.</li>
                     <li>Voluntary Organizations or Non-Government Organizations registered under the Societies Registration Act, Indian Trust Act carrying out activities which promote the objectives of the STEP programme,<br> with adequate financial and other resources, credibility and experience of the type of activities to be undertaken.
                     </li><li>Co-operative Societies.</li></ul>
                         </p>
                    </div>
                </div>

            </div>
 
    
 
           
           
    
    
       
        <!--/panel-group-->
    </div>
