@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "STEPLayout";
    ViewData["Title"] = "Support to Training and Employment Programme for Women (STEP)";
}

<div class="container middlecolor">
		<div id="contact" class="container-fluid bg-grey">
			<h2 class="text-center">STEP GUIDELINES</h2>
		</div><br>
        <div id="about" >
			
    		<h4 ><i class="material-icons"></i>Steps for STEP Registration</i></h4>
            <ul>
				<i class="material-icons"></i>
              <p>  <li id="about"> Visit Women Empowerment ---will open main page where you can see the steps as well as schemes</li>
    
                <li>For that first women needs to register herself with required details and after registeration she will
                    get her Id and now she will able to login in account </li>
                <li>Able to see webpage which includes training sectors details. </li>
                <li> To get enroll for particular course, need to register first. </li>
                <li>After registraion, click on Submit. </li>
                <li>If Admin approves it, will see status approved or not. </li>
                <li>Then,she can go for course. If any doubt occurs, can go for FAQ. </li>
                <li>Under NGO Dashboard, includes sections such as Criteria, Organizations, Funding Norms, Register, Status,
                    FAQ. </li></p>
            </ul><br>
        </div>
		<h4><i class="fa-thin fa-hands-holding-heart"></i>Eligibility Criteria</h4>
        <div id="about">
    
            <ul>
                <li> single, widowed, divorced, separated. <br />
                <li> Women who are under training for job provided the total training period does not exceed one year.</li>
                <li>Girls up to the age of 18 years and boys up to the age of 5 years. </li>
    
    
            </ul>
        </div>
		
		
	</div>
