@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@using Microsoft.AspNetCore.Http;
@{
   
    Layout = "STEPLayout";
    ViewData["Title"] = "Support to Training and Employment Programme for Women (STEP)";
}
<div class="container middlecolor">
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">About STEP 
@*       @TempData["userid"] also          @HttpContext.Session.GetString("Username")*@
             @* <span>  @ViewBag.Session</span>*@



            </h2>
            </div><br><br>
        <div class="step " id="about">
            <p>Support to Training and Employment Programme for Women (STEP)</p>

               <p>The Support to Training and Employment Programme for Women (STEP) scheme has two main objectives viz. </p>
                <ul id="about"><li> To provide skills that give employability to women.</li>
            <li> To provide skills that enable women to become
            self-employed/entrepreneurs.</li>
            </ul> 

                <p>This scheme is intended to benefit women who are in the age group of 16 years and above.

                In this scheme the beneficiaries will be registered under an NGO, that will be providing the training
                and employment programme.</p><br>
                <p>
                    STEP Scheme aims to provide skills that give employability to women and to provide competencies and skill that enable
                    women to become self-employed/entrepreneurs. The Scheme is intended to benefit women who are in the age group of 16
                    years and above across the country.
                </p>
                <p>
                    Government of India has set an ambitious plan training 500 million individuals by 2022 which translates to training 42
                    million a year. For this purpose, India’s vocational training infrastructure needs to be expanded to meet the diverse
                    and many skill requirements of the population. There has been recent concern about the decline in women’s workforce
                    participation in India. Simultaneously, women have become more aspirational and are ready to contribute equally to the
                    economy.</p>
                    
                 <p>  MWCD, through its STEP Programme, has been addressing special situation of poor women and women in remote areas who are
                    not in a position to move out of their immediate surroundings and go to a formal skill centre to acquire training. The
                    STEP Programme a 100% Central Sector Scheme is under implementation since 1986- 87. Training is provided to poor and
                    marginalized women in traditional trades which are largely in the informal sector. The programme strives to build upon
                    the traditional knowledge of women and convert it into sustainable livelihood capacitation.
                    </p>
                    <p>
                    rigorous process of scrutiny of thousands of proposals that were received in response to the 2014 Guidelines as well as
                    the Gazette notification issued by the Ministry of Skill Development & Entrepreneurship and NITI Aayog’s Guidelines for
                    implementation of Centrally Sponsored Schemes/Central Sector Schemes through NGOs. A separate section has been added as
                    guidance to the applicant organizations.
                </p>
        </div>

    </div>