@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "MainLayout";
    ViewData["Title"] = "MINISTRY OF WOMEN & CHILD DEVELOPMENT";
}

<div class="container middlecolor">
        <br>
        <div id="about" class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                     <h2>About MWCD</h2><br>
                        
                        <p>MINISTRY OF WOMEN & CHILD DEVELOPMENT is an organization, has been active for over 2 years helping the women to become self independent.
                            We help them to grow and learn new skills. Our current focus is on the development of women in rural areas
                             with a vision to expand the services of the center, and create more such options in other parts of the
                        country.</p>
                        
                       <p> Gender equality is an important catalyst for social justice, restructuring of human rights for all, and it remains the
                        prime focus of all our initiatives. Our organization is driven with a plan of self-sustenance and productivity. From
                        strategic planning, to fundraising, to watching over the business of the Women Like Us Foundation, we are working to
                        make sure our efforts continue for years to come.</p>
                        
                         <p>Women are known for delivering multiple roles effortlessly per day, and thus, they are considered the backbone of every
                        society. Living in male-dominating societies, women play a wide range of roles, such as caring mothers, loving
                        daughters, and capable colleagues. The best part is that they fit the bill perfectly in every role. Nonetheless, they’ve
                        also stood as a neglected bunch of society in different parts of the world.</p>
                </div>
                <div class="col-sm-6">
                    <br>
                     <img src="~/images/about.jpg" alt="About Image" style="width:100%;" >
                 </div>
            </div>
        </div>
        
    </div>
