@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "MainLayout";
    ViewData["Title"] = "MINISTRY OF WOMEN & CHILD DEVELOPMENT";
}

<div class="container middlecolor">
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">CONTACT</h2>
            <div class="row">
                <div class="col-sm-5">
                    <br><br><br>
                    <p class="fontsize">Contact us and we'll get back to you within 24 hours.</p><br />
                    <p  class="fontsize"><span class="glyphicon glyphicon-map-marker fontsize"></span> Pune, Maharashtra</p>
                    <p  class="fontsize"><span class="glyphicon glyphicon-phone fontsize"></span> +91 9898989898</p>
                    <p  class="fontsize"><span class="glyphicon glyphicon-envelope fontsize"></span> mwcd@gmail.com</p>
                </div>
                <div class="col-sm-7 slideanim">
                    <h3>Send Us A Message</h3>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input class="form-control fontsize" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-12 form-group">
                            <input class="form-control fontsize" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                        <div class="col-sm-12 form-group">
                            <input class="form-control fontsize" id="email" name="phone" placeholder="Phone" type="number" required>
                        </div>
                    </div>
                    <textarea class="form-control fontsize" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right fontsize" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
