@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "MainLayout";
    ViewData["Title"] = "MINISTRY OF WOMEN & CHILD DEVELOPMENT";
}

<div class="container middlecolor">
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">FREQUENTLY ASKED QUESTIONS</h2>

            <img src="~/images/faq2.jpg" width="200px" height="250px" alt="Paris" class="center">
        </div>
        <br>
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        Q: How do I get started?
                    </h4>
    
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>To get started and become our community member, please register. Once you have registered, you will receive message
                        for your approval status.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        Q: How do I update my profile?
                    </h4>
    
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>You can update  your profile after login into your account and go in profile tab.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        Q: Which documents are required for the regsitration process?
                    </h4>
    
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>You need to upload Aadhar card details. If you are working, you need to provide job details</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        Q: What are the key barriers preventing women’s financial inclusion?
                        
                    </h4>
    
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>Gendered economic norms create barriers for women at different levels of the market. They influence women’s demand for
                        financial services by:
                        <ul>
                        <li> Limiting decision-making power over income and expenditures in the household;</li>
                        <li>Limiting access to information about financial services or other economic opportunities;</li>
                        <li>Reducing confidence and heightening risk aversion toward investment decisions; and</li>
                        <li>Limiting time available for paid work over domestic and community care work.</li>
                        </ul>
                        Biases about women as economic actors also influence the types of products that are supplied by financial service
                        providers who generally perceive financial products as gender-blind or neutral. </p>
                    </div>
                </div>
            </div>
    
        </div>
        <!--/panel-group-->
    </div>