@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "MainLayout";
    ViewData["Title"] = "MINISTRY OF WOMEN & CHILD DEVELOPMENT";
}

<div class="container middlecolor">
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">LEGISLATIONS AND POLICIES</h2>
        </div><br>
        <div id="about">
    
            <h4 class="display-3"><i class="material-icons"></i>Position And Status of Women</i></h4>
            <ul>
                <i class="material-icons"></i>
                <p>
                    The position and status of women all over the world has risen extraordinarily in the 20th century. We find that it has
                    been very low in past centuries in India and hence they were treated like ‘objects’ that can be bought and sold. For a
                    long time women in India remained within the four walls of their household. They totally depend on menfolk.
                </p>
                <p>   
                    In India, the customs of purdha (veil system), female infanticide, child marriage, sati system (self-immolation by the
                    women with their husbands), dowry system and the state of permanent widowhood were totally removed.
                </p>
                <p>
                    It would help the innumerable women in the country who get neglected by their husbands and have no means of proving
                    their marital status. It would also help check child marriages, bigamy and polygamy, enable women to seek maintenance
                    and custody of their children and widows can claim inheritance rights. The Act is applicable on all women irrespective
                    of caste, creed or religion. It truly helps to empower Indian women to exercise their rights.
                    <li > Visit Women Empowerment ---will open main page where you can see the steps as well as
                        schemes</li>
    
                    <li>For that first women needs to register herself with required details and after registeration she
                        will
                        get her Id and now she will able to login in account </li>
                    <li>Able to see webpage which includes training sectors details. </li>
                    <li> To get enroll for particular course, need to register first. </li>
                    <li>After registraion, click on Submit. </li>
                    <li>If Admin approves it, will see status approved or not. </li>
                    <li>Then,she can go for course. If any doubt occurs, can go for FAQ. </li>
                    <li>Under NGO Dashboard, includes sections such as Criteria, Organizations, Funding Norms, Register,
                        Status,
                        FAQ. </li>
                </p>
            </ul><br>
        </div>
        
    <div class="row" id="about">
        <div class="col-sm-6">
            <h4 class="display-3"><i class="fa-thin fa-hands-holding-heart"></i>Legal And Constitutional Provisions For Women In India</h4>
    
            <p>
                The principle of gender equality is enshrined in the Indian Constitution in its Preamble, Fundamental Rights,
                Fundamental Duties and Directive Principles. The Constitution not only grants equality to women, but also empowers
                the
                State to adopt measures of positive discrimination in favour of women. Within the framework of a democratic polity,
                our
                laws, development policies, Plans and programmes have aimed at women’s advancement in different spheres. Gender
                equality
                includes protection from sexual harassment and right to work with dignity which is a universally recognized basic
                human
                right.
            </p>
            
            <h4>A. Legal Provisions</h4>
            <ul>
                <li> The Crimes Identified Under the Indian Penal Code (IPC) <br />
                <li> The Crimes identified under the Special Laws (SLL)</li>
                <li>Girls up to the age of 18 years and boys up to the age of 5 years. </li>
            
            
            </ul>
            <h4>B. Constitutional Provisions</h4>
            <h4>C. Special Initiatives For Women</h4>
        </div>
        <div class="col-sm-6">
            <iframe width="560" height="350" src="https://www.youtube.com/embed/MT6HoFa8ZDk" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    
    </div>
