@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "NGOLayout";
    ViewData["Title"] = "Non Governmental Organizations (NGOs)";
}
<div class="container middlecolor">
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">FREQUENTLY ASKED QUESTIONS</h2>

            <img src="~/images/faqimg.jpeg" alt="Paris" class="center">
        </div>
        <br>
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        Q: How do I get started?
                    </h4>
    
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>To get started and become our community member, please register. Once you have registered, you will receive message
                        for your approval status.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        Q: What is NGO ??
                    </h4>
    
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p> An NGO stands for Non – Government Organization. The term NGO originated from the United Nations (UN), and is normally used to refer to organizations that do not form part of the government and are not conventional for profit or business. Today there is need for the betterment of the underprivileged section of the society. This need can be satisfied using non-profit organization.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        Q: What are the types of NGO ???
                    </h4>
    
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>There are 2 types of non-profit NGO. One is Trust and the other is Society. The third type of NGO is a profitable NGO which is often registered under Companies Act.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question3">
                    <h4 class="panel-title">
                        Q:What are the different Acts in which NGO is registered ??
                      
                    </h4>
    
                </div>
                <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>Non-Profit NGOs are registered under 2 acts. <ul><li>One is Indian Trust Act, 1882</li>
<li> other is Indian Societies Act, 1860 , Indian Trusts are registered under Trust Act and the Societies are registered under Societies Act.</li>
<li> The third type of act is Indian Companies Act, 1956 under which a profitable NGO is registered.</li></ul>
</p>
                    </div>
                </div>

            </div>
 <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question4">
                    <h4 class="panel-title">
                        Q: When is an NGO eligible for Government funding ??
                       
                    </h4>
    
                </div>
                <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>An NGO is eligible for Government funding after 3 years.<br> However, in some special cases, an NGO can get Government funding even after 1 year if its project gets approved.
</p>
                    </div>
                </div>

            </div>
    
 <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question5">
                    <h4 class="panel-title ing">
                       Q: What are the primary posts involved in an NGO ??
                        
                    </h4>
    
                </div>
                <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>An NGO has basically 3 min posts which that of a President, General Secretary and Treasurer. In some cases, you can also have a Vice President.
</p>
                    </div>
                </div>

            </div>
 <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle hand" data-toggle="collapse"
                    data-parent="#faqAccordion" data-target="#question6">
                    <h4 class="panel-title">
                       Q: How can I do NGO Registration ??
                        
                    </h4>
    
                </div>
                <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
    
                        <p>You can easily do NGO Registration by hiring us. <br>Just give us a call on our Helpline number +91 9898989898 and our professionals 
                            will guide you right from the beginning of registering your NGO to the point of making your NGO a great success.<br> 
                            You can also mail on our email id which is mwcd@gmail.com
</p>
                    </div>
                </div>

            </div>
    
    
        </div>
        <!--/panel-group-->
    </div>
