@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "NGOLayout";
    ViewData["Title"] = "Non Governmental Organizations (NGOs)";
}
<div class="container middlecolor">
<div class="step " id="about">
<br>
<h2 class="text-center">NGOS CRITERIA</h2>
		<p>>Eligibility to Start an NGO :<p>
<ul>
<li>Minimum 2 directors required if NGO is to be incorporated as a private limited company.</li>
<li>Minimum of 3 directors required, in case of incorporation as a public limited company.</li>
<li>The maximum number of members is 200, in the case of a private limited company.</li>
<li>No member limit in case of a public limited company.</li>
<li>No fee is charged if registering as an NGO.</li>
</ul>
<p>>Criteria for NGO :</p>
<ul>
<li>
NGO should have been registered under the Societies Registration act, 1860 or a State
amendment thereof or the India Trust Act 1982 or the Religious and Charitable Institution
Registration Act, 1920.</li>
<li>The NGO should not have been black list by any Central/State Government
MinistrieslDepartrnentl Agencies or any National/International Funding Organization.</li>
<li>NGO should not have defaulted either in works or in financial progress in any of their work with
StatelDistrict Administration.</li>
<li>The turnover of the NGO for the last 3 years should be at least Rs.2 lakh per year.</li>
<li>NGO should comply with the requirement of Income-Tax departrnent/GSTIN or should have at
least applied for the same.</li>
<li>Members of the NGO Selection Committee or their family member should not be the office
bearers of the NGO applying for the programme.</li>
<li>The NGO's Board members should not have any history of criminal offence against them.</li>
</ul>

<p>>Benefits of NGO Registration </p>
<ul type="none">
Registering your company under NGO of Companies Act, 2013 has several benefits which are as discussed below:<br>
<br>
<li>Tax Saving</li>
<br>
&#x25B8;Registering your company as an NGO under the Companies Act, 2013 and avail several taxation benefits for the directors of the company. NGOs are exempt from several taxes, and it helps the company save taxes and invest the saved money in further projects.
<br><br>
<li>Lower Share Capital</li>
<br>
&#x25B8;All the companies need a minimum share capital to function independently. This isn’t the case with NGOs since they can be directly funded with the donations made to them. The subscriptions can also help to support the proceedings undertaken by the company. This means that NGOs do not need a higher share of capital to function independently.
<br><br>
<li>Title Usage<li>
<br>
&#x25B8;Most companies are obligated to make their limited liability status public. This is not the case with companies registered under the Companies Act. These registered companies are exempted from the use of any titles. They can function without making their limited liability status public which is a significant benefit for the company in terms of the capital they need to make public.
<br><br>
<li>Transfer of ownership/titles</li>
<br>
&#x25B8;Companies registered as NGOs under the Income Tax Return Act of 1961 are not restricted to transfer their ownership or claims of the interests earned. However, other companies cannot move their ownerships with such ease, which benefits NGO registered companies.
<br><br>
<li>Stamp Duty Exemption</li>
<br>
&#x25B8;All companies registered as NGOs under Income Tax Act 2013 are exempted from stamp duty, which accounts for more tax-saving methods for the company. All the taxes saved through stamp duty are then invested in the promotion of the motto taken up by the company. Exemption of stamp duty protects funds for the company, which makes the functioning of the company smoother increasing the productivity of the company.
<br>
</div>


	</div>
