@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

     Layout = "NGOLayout";
    ViewData["Title"] = "Funding Norms";
}
<div class="container">
		<div id="contact" class="container-fluid bg-grey">
			<h2 class="text-center">Funding for NGO</h2>
		</div><br>
        <div id="about" >
			<br />
    		<h4 ><i class="material-icons"></i>How to raise funds for NGO</i></h4>
           
				<i class="material-icons"></i>
              <p> 
               NGOs India has been disseminating information for plans, werk, strategies and implementation of the programmes for<br> NGOs Funding is the main requirement for NGOs to implement their plans in social sector,<br> NGOs India has been helping NGOS for getting funds and grants by various informations, knowledge-base and <br> disseminating useful resources to enhance and improve programmes and activities 
               <br><br> </p>
           <p> The main base that donors, grant agencies and funding organisations provide funds to NGO<br> are proximity, accountability and Bexibility in working with local communities NGO,<br> have to demonstrate the viability and enable certain solutions to extrapolate the strategies to get funds at the local, regional, national and international level. 
            <br> <br>
         The NGO management have to maintain professionalism in the NGO and to build adequate trust with the sponsors, donors and funding agencies.
          
<br><br>
NGOs India has been providing information through useful resources for NGO Fund Raising Providing the information of lunding process that NGO can know that how to raise funds For fund raising NGOs have to be familiar with the requirements to get funds, preparation to prepare documents, to prepare Projects to know Project writing lips and basic requirements to prepare effective projects so NGO can get funds almost surely and easily if the NGO deserves for so NGO resource include various Project Formats, certain Guidelines to Project Proposals </p>     

<br><h4>NGOs can get, organise and raise funds from various methods, processes, programmes, projects and activities:</h4>

</p>
        </div>
		<h4><i class="fa-thin fa-hands-holding-heart"></i>Eligibility Criteria</h4>
        <div id="about">
    
            <ul>
                <li>Getting grants from Funding agencies through Projects.. <br />
                <li>Funding from International Funding Agencies.</li>
                <li>Funding from Government Schemes </li>
                <li>Fund Raising from Corporate under CSR </li> 
                <li>Fund Raising using Internet Techniques</li> 
                <li>Funding Appeal on Facebook Page Appeals from Direct Mailing Applications</li> 
                <li> Organising Awareness Events </li>
                 <li> Organising Fund Raising events </li>

               
    
            </ul>
        </div>
		
		
	</div>