@model WomenEmp20Feb.Models.Woman

@{
     Layout = "MainLayout";
    ViewData["Title"] = "Register";
}

<hr />
<div class="row">
     <section class="" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-12 col-xl-12 order-2 order-lg-1">
                   <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Womens Regsitration</p>
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger fontsize"></div>
            <div class="form-group">
                <label asp-for="WomenFullName" class="control-label fontsize"></label>
                <input asp-for="WomenFullName" class="form-control fontsize" />
                <span asp-validation-for="WomenFullName" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenContactNumber" class="control-label fontsize"></label>
                <input asp-for="WomenContactNumber" class="form-control fontsize" />
                <span asp-validation-for="WomenContactNumber" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenAddress" class="control-label fontsize"></label>
                <input asp-for="WomenAddress" class="form-control fontsize" />
                <span asp-validation-for="WomenAddress" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenCity" class="control-label fontsize"></label>
                <input asp-for="WomenCity" class="form-control fontsize" />
                <span asp-validation-for="WomenCity" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenState" class="control-label fontsize"></label>
                <input asp-for="WomenState" class="form-control fontsize" />
                <span asp-validation-for="WomenState" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenFathername" class="control-label fontsize"></label>
                <input asp-for="WomenFathername" class="form-control fontsize" />
                <span asp-validation-for="WomenFathername" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenMothername" class="control-label fontsize"></label>
                <input asp-for="WomenMothername" class="form-control fontsize" />
                <span asp-validation-for="WomenMothername" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenSpousename" class="control-label fontsize"></label>
                <input asp-for="WomenSpousename" class="form-control fontsize" />
                <span asp-validation-for="WomenSpousename" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenEmail" class="control-label fontsize"></label>
                <input asp-for="WomenEmail" class="form-control fontsize" />
                <span asp-validation-for="WomenEmail" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenPassword" class="control-label fontsize"></label>
                <input asp-for="WomenPassword" class="form-control fontsize" />
                <span asp-validation-for="WomenPassword" class="text-danger fontsize"></span>
            </div>

           <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label fontsize"></label>
                       
                        <input asp-for="ConfirmPassword" class="form-control fontsize" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenDocument" class="control-label fontsize"></label>
                <input asp-for="WomenDocument" class="form-control fontsize" />
                <span asp-validation-for="WomenDocument" class="text-danger fontsize"></span>
            </div>
            <div class="form-group">
                <label asp-for="WomenMaritalStatus" class="control-label fontsize"></label>
                <input asp-for="WomenMaritalStatus" class="form-control fontsize" />
                <span asp-validation-for="WomenMaritalStatus" class="text-danger fontsize"></span>
            </div>

             <label class="form-check-label fontsize" for="form2Example3">
                      Not Registered??  <a asp-area="" asp-controller="Main" asp-action="Login">Click here to Login!!</a>
                    </label>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
